body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.container {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* mission 5. 자신의 중학교, 학년 반, 이름이 들어가는 태그의 선택자를 작성하세요 */
.name
 {
    font-weight: 700;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 20px;
}

.pages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.box {
    width: 450px;
    height: 225px;
    padding: 40px;
    border-radius: 24px;
}

.box > a, .box > .front, .box > .back {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
}

.red {
    background-color: #ff5252;
    box-shadow: 0px 4px 10px rgba(237, 101, 58, 0.25);
    transition: 0.5s;
}

.red:hover {
    background-color: red;
    transform: translateY(-20px);
}

.red > a, .red > .front, .red > .back {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.green {
    background-color: #25c883;
    box-shadow: 0px 4px 10px rgba(105, 237, 58, 0.25);
    transition: 0.5s;
}

.green:hover {
    background-color: #02fa92;
    transform: translateY(-20px);
}

.green > a, .green > .front, .green > .back {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blue {
    background-color: #6268ff;
    box-shadow: 0px 4px 10px rgba(58, 108, 237, 0.25);
    transition: 0.5s;
}

.blue:hover {
    background-color: blue;
    transform: translateY(-20px);
}

.blue > a, .blue > .front, .blue > .back {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.yellow {
    background-color: #f4e349;
    box-shadow: 0px 4px 10px rgba(237, 219, 58, 0.25);
    transition: 0.5s;
}

.yellow:hover {
    background-color: yellow;
    transform: translateY(-20px);
}

.yellow > a, .yellow > .front, .yellow > .back {
    color: #000000;
}


